body {
 background-color:floralwhite;
}

.headsvg {
    height:600px;
    display: block;
    margin: 150px auto;
}

@keyframes moveFace {

    0% { transform: translateY(0px) translateX(-20px);
}
    
  25% {
    transform: translateX(20px) translateY(0px);
  }
    
    50% {
    transform: translateY(0px) translateX(-20px);
    }
  75% {
    transform: translateY(0px) translateX(20px);
  }
  100% { 
    transform: translateY(0px) translateX(-20px);
  }
}

.facesvg {
    animation: moveFace 2s infinite ease-in-out; 
}